RA = 1
RB = 3
RX = 2
INC RA
IO 5
INC RB
INC RX
SUB RA,RB
ADD RA,RB
INC RB
INC RX
END
IO 10
SUB RA,RB
IO 10
ADD RA,RB
INC RB
INC RX
SUB RA,RB
ADD RA,RB
INC RB
INC RX
SUB RA,RB
ADD RA,RB
IO 20
INC RB
INC RX
SUB RA,RB
ADD RA,RB
INC RB
INC RX
SUB RA,RB
ADD RA,RB
INC RB
io 30
INC RX
SUB RA,RB
ADD RA,RB
INC RB
INC RX
SUB RA,RB
ADD RA,RB
INC RB
INC RX
io 2
SUB RA,RB
ADD RA,RB
INC RB
INC RX
SUB RA,RB
ADD RA,RB
END