RA = 899
RB = 388
IO 20 net
RX = 0
IO 15 dev1
ADD RA RB
SUB RA RB
INC RX
IO 20 I/O
DEC RA
DEC RX
INC RA
INC RB
DEC RX
IO 10 dev1
DEC RX
INC EB
DEC RX
END