RA = 899
RB = 388
IO 20 net
RX = 0
SUB RA RB
DEC RX
INC RA
IO 15 dev1
ADD RA RB
INC RB
INC RX
IO 20 I/O
DEC RA
IO 10 dev1
DEC RX
INC EB
DEC RX
DEC RX
END